.spread_1 {
  margin-left: 10.06%;
}
.spread_2 {
  margin-left: 20.12%;
}

html{ margin: 0; padding: 0;}
body { margin: 0; padding: 80px 0 0 0; min-width: 900px; }
h1, h2, h3, h4, h5 { font-weight: 300; }
.content { min-width: 900px; }

.domain {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.suffix {
  font-family: 'Patua One', sans-serif;
  font-size: 1.2em;
  text-transform: lowercase;
}

.metaphor p, .metaphor pre {
  margin-bottom: 1em;
}

.nav {
  border-bottom: 2px solid #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-width: 740px;
  background: #fff url('/images/icon.png') no-repeat 5px 0;
  background-size: 80px;
  height: 80px;
  text-align: right;
  padding: 0 85px;
  line-height: 80px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  text-transform: uppercase;
  z-index: 1;
}

.nav-link {
  display: inline-block;
  margin: 0 0 0 1.5em;
}

.nav-link a { color: #000; }
.nav-link a.selected { color: #ed1c24; }

/**/

.header {
  padding: 5em;
}

.heading, .subheading {
  overflow: hidden;
  text-indent: -1000px;
  width: 50%;
  height: 200px;
}

.heading {
  background: url('/images/subtitle.png') no-repeat right top;
  float: left;
  width: 48%;
}

.subheading {
  background: url('/images/title.png') no-repeat left top;
}

/**/
iframe { min-width: 100%; min-height: 100%; }
.video { background: #000; padding: 5em 0;}
.video:after, .featured:after, .who:after, .footer:after, .term:after {
  content: ' ';
  clear: both;
  line-height: 0;
  overflow: hidden;
  height: 0;
  display: block;
}

.video-header, .featured-header {
  margin: 2em 0 0 8.46%;
  width: 23.8%;
  float: left;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  text-transform: uppercase;
  color: #fff;
}
.video-heading, .featured-heading {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 1em;
}
.video-subheading {
  line-height: 1.5em;
}
.video-container {
  width: 57.7%;
  margin-left: 1.6%;
  float: left;
}
.video-container { position: relative; padding-bottom: 36%; height: 0; overflow: hidden; max-width: 100%; height: auto; }
.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/**/
.ted {
  margin: 6em 0;
  background: url('/images/tech-people.png') no-repeat 50% 50%;
  height: 350px;
}

.ted-quote {
  position: absolute;
  visibility: hidden;
}

/**/
.intro {
  color: #fff;
  background: #ed1c24;
  padding: 7em 16.93%;
}

.intro-header + p {
  font-size: 1.25em;
  line-height: 1.5em;
}

.intro-heading {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 2.75em;
  line-height: 1em;
  padding-bottom: .25em;
  margin-bottom: .25em;
  text-transform: uppercase;
  white-space: nowrap;
  border-bottom: 2px solid #fff;
  text-align: center;
}

/**/
.featured {
  padding: 5em 0;
}

.featured-header {
  margin-top: 1em;
}

.featured-heading {
  color: #ed1c24;
}

.gallery {
  background: transparent;
  float: left;
  width: 57.67%
}

.gallery:before {
  content: ' ';
  height: 132px;
  display: block;
  background: url('/images/right-brace.gif') no-repeat 0 0;
  width: 40px;
  position: absolute;
  left: 0;
  top: 0;
}

.gallery:after {
  content: ' ';
  height: 132px;
  display: block;
  background: url('/images/left-brace.gif') no-repeat 0 0;
  width: 40px;
  position: absolute;
  right: 0;
  top: 0;
}

.gallery .item {
  background: transparent;
}

.summary {
  min-height: 150px;
  margin: 0 45px;
}

.summary .term-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.75em;
  line-height: 1em;
  text-transform: uppercase;
  margin-left: 200px;
  text-align: center;
  position: relative;
  top: .75em;
}

.metaphor {
  background-repeat: no-repeat;
}

.summary .metaphor {
  min-height: 150px;
  background-position: 25px 50%;
  padding-left: 200px;
  text-align: center;
  margin-top: -1.5em;
}

.summary .m4-title {
  padding-top: 3.5em;
}

/**/

.view {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 2.25em;
  text-align: center;
  line-height: 490px;
  text-transform: uppercase;
  background: #000 url('/images/view-background.png') no-repeat 50% 50%;
  height: 490px;
}

.view a { color: #fff; }

/**/

.who {
  margin: 3em 16.93%;
  width: 66.14%;
}

.who-header {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.75em;
  line-height: 1em;
  text-transform: uppercase;
  position: absolute;
  visibility: hidden;
}

.who-section {
  float: left;
  width: 27.6%;
  margin-right: 8.46%;
}

#super.who-section {
  margin-right: 0;
}

.who-section-heading {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.6em;
  white-space: nowrap;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  padding: .5em .5em .75em .5em;
  color: #333;
}

#everyone .who-section-heading {
  background: url('/images/headers/100/caller-id.png') no-repeat 50% 25px;
  padding-top: 140px;
}

#geeks .who-section-heading {
  background: url('/images/headers/100/brain.png') no-repeat 50% 30px;
  padding-top: 140px;
}

#super .who-section-heading {
  background: url('/images/headers/100/deathstar.png') no-repeat 50% 5px;
  padding-top: 140px;
}

/**/
.footer {
  background: #ed1c24;
  padding: 2em 0;
  color: #fff;
}

.cta {
  width: 33.86%;
  float: left;
  margin-right: 8.46%;
  margin-left: 16.93%;
}

.icons a {
  display: block;
  width: 8.46%;
  float: left;
}

.license {
  margin: 1em 16.93%;
  text-align: center;
}

/**/
.term {
  margin: auto;
  width: 90%;
}

.term-nav {
  padding: 0;
  margin: 3em 3em 3em 0;
  list-style: none;
  text-align: right;
  width: 16.93%;
  float: left;
}

.term-nav-item {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  letter-spacing: 1px;
  line-height: 2em;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.full .term-title {
  border-bottom: 1px solid #ed1c24;
  color: #333;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.4em;
  letter-spacing: 1px;
  margin-top: 60px;
  margin-bottom: .1em;
  padding-bottom: .5em;
  position: relative;
  text-transform: uppercase;
}

.full .term-title:before {
  background: url('../images/right-brace.gif') no-repeat 0 0;
  content: '';
  display: block;
  height: 132px;
  position: absolute;
  right: -50px;
  top: -56px;
  width: 40px;
}

.metaphor {
  background: url('../images/headers/default.gif') no-repeat 50% 0;
}

.full.term-container {
  width: 70%;
  float: left;
}

.full .term-title {
  float: left;
  width: 25.4%
}

.full .m4-definition {
  width: 25.4%
}

.full .metaphor {
  float: none;
  margin-left: 32%;
  margin-bottom: 3em;
  padding-top: 175px;
}

.full .m4-cite {
  display: block;
  text-align: right;
}

.full .m4-title {
  color: #333;
  font-size: 1.4em;
  font-weight: 400;
  text-align: center;
  margin-bottom: .5em;
}

.full .m4-definition {
  margin-top: 1em;
  font-size: .8em;
  float: left;
  clear: left;
}

.full .m4-definition blockquote {
  margin-bottom: 1em;
}
