body {
  color: #696969;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-top: 460px;
  min-width: 1000px;
}

a, a:hover, a:visited {
  color: #ed1c24;
  cursor: pointer;
  text-decoration: none;
}

body a.selected {
  color: #ed1c24;
}

body a:hover {
  color: #ed1c24;
}

.header {
  height: 300px;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#header {
  width: 100%;
  height: 400px;
  background: #FFF;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

#header.hiding .header, #header.smaller .header {
  opacity: 0;
}

#header.smaller .header {
  display: none;
}

#header.smaller .master-nav {
  margin: 0;
  top: 0;
}

#header.smaller {
  height: 73px;
}

.heading, .subheading {
  text-indent: -10000px;
  direction: ltr;
  overflow: hidden;
  display: inline-block;
  height: 300px;
}

.heading {
  background: url('../images/title.png') no-repeat 0 50%;
  float: right;
}

.subheading {
  background: url('../images/subtitle.png') no-repeat right 50%;
}

.master-nav {
  position: fixed;
  top: 300px;
  left: 0;
  width: 100%;
  border: 2px solid #333;
  border-width: 2px 0;
  color: #333;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  margin: 1em 0 3em 0;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  -ms-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
}

.master-nav-link {
  display: inline-block;
  margin: 1em;
}

.master-nav-link a {
  color: #333;
}

.term {
  margin: auto;
  width: 90%;
}

.term-nav {
  padding: 0;
  margin: 3em 3em 0 0;
  list-style: none;
  text-align: right;
}

.term-nav-item {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  letter-spacing: 1px;
  line-height: 2em;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.term-nav-item a {
  color: #999;
}

.full .term-title {
  border-bottom: 1px solid #ed1c24;
  color: #333;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.4em;
  letter-spacing: 1px;
  margin-top: 60px;
  margin-bottom: .1em;
  padding-bottom: .5em;
  position: relative;
  text-transform: uppercase;
}

.full .term-title:before {
  background: url('../images/right-brace.gif') no-repeat 0 0;
  content: '';
  display: block;
  height: 132px;
  position: absolute;
  right: -50px;
  top: -56px;
  width: 40px;
}

.metaphor {
  background: url('../images/headers/default.gif') no-repeat 50% 0;
}

.full .metaphor {
  float: none;
  margin-left: 30%;
  margin-top: 4em;
  padding-top: 175px;
}

.summary.term-container {
  margin: 3em auto;
}

.summary .term-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-align: center;
  height: 2.75em;
  line-height: 2.75em;
  overflow: hidden;
  white-space: nowrap;
}

.summary:hover .metaphor:before {
  content: '';
  position: absolute;
  background: #FFF;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: .5;
}

.summary .term-title-caption {
  font-size: 1.5em;
  text-transform: uppercase;
  color: #333;
  display: block;
  cursor: pointer;
}

.summary .term-title-caption:hover {
  color: #ed1c24;
}

.summary .metaphor {
  height: 10em;
  background-position: 50% 50%;
  position: relative;

  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

.featured-title {
  font-family: 'Oswald', sans-serif;
  border-bottom: 1px solid #ed1c24;
  color: #333;
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  padding-bottom: .75em;
  margin-bottom: 2em;
  text-transform: uppercase;
  width: 50%;
  margin: 0 auto;
}

.summary .metaphor + .metaphor {
  display: none;
}

.main p, .metaphor p, .metaphor pre {
  margin-bottom: 1em;
}

.m4-definition {
  margin-top: 9em;
  font-size: .8em;
}

.m4-definition blockquote {
  margin-bottom: 1em;
}

.m4-definition + .metaphor {
  margin-top: -7em;
}

.m4-cite {
  display: block;
  text-align: right;
}

.m4-title {
  color: #333;
  font-size: 1.4em;
  font-weight: 400;
  text-align: center;
  margin-bottom: .5em;
}

.summary .m4-title {
  display: none;
  font-size: 1.5em;
  line-height: 1.2em;
  padding: .25em;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
  text-shadow: 1px 1px 1px #999;
}

.summary:hover .m4-title {
  display: block;
}

.footer {
  font-size: .8em;
  text-align: center;
  margin-top: 2em;
  padding-top: 1em;
  border-top: 2px solid #333;
}

.footer p {
  padding: .25em 0;
}

.license {
  margin: .5em 0 2em 0;
  color: #696969;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
  overflow:hidden;
  height: 0;
}

.welcome-hero {
  color: #333;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 3em;
  line-height: 1em;
  text-align: center;
  margin-bottom: .25em;
  text-transform: uppercase;
}

.welcome-hero-text {
  border-top: 1px solid #ed1c24;
  padding-top: 1.5em;
}

.domain {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.suffix {
  font-family: 'Patua One', sans-serif;
  font-size: 1.2em;
  text-transform: lowercase;
}

.welcome-col-content p {
  padding: 1em .5em;
  margin-bottom: .25em;
}

.welcome-header {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  border-bottom: 1px solid #ed1c24;
  font-size: 1.6em;
  white-space: nowrap;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  padding: .5em .5em .75em .5em;
  color: #333;
}

#everyone .welcome-header {
  background: url('/images/headers/100/caller-id.png') no-repeat 50% 25px;
  padding-top: 140px;
}

#geeks .welcome-header {
  background: url('/images/headers/100/brain.png') no-repeat 50% 30px;
  padding-top: 140px;
}

#super .welcome-header {
  background: url('/images/headers/100/deathstar.png') no-repeat 50% 5px;
  padding-top: 140px;
}

.intro {
  min-height: 8em;
}

.cta {
  text-align: center;
  font-size: 1.5em;
  padding: 1em 0 2em 0;
}

.contact {
  font-size: .85em;
  text-align: center;
}
