body {
  color: #696969;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 24px;
}

a, a:hover, a:visited {
  color: #ed1c24;
  cursor: pointer;
  text-decoration: none;
}

body a.selected {
  color: #ed1c24;
}

body a:hover {
  color: #ed1c24;
}

.master-nav-link a {
  color: #333;
}

.term-nav-item a {
  color: #999;
}
